.chat__container{
	margin:auto;
	width: 50%;
	height: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width:400px;
	background-color: var(--hangout-background);
	border-radius: 30px;
	min-height: 700px;
}
.chat__messages{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	margin-left: 20px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.chat__messages::-webkit-scrollbar {
  display: none;
}

